* {
     padding: 0;
     margin: 0;
     
}

:root {
     --primary: #ddd;
     --dark: #333;
     --light: #fff;
     --text-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

}

body {
     background-color: #ECF0F1;
     
}

.navbar {
     background-image: url(./images/photo-1639050641575-2a23d8ca1b36.jpeg);
     text-shadow: var(--text-shadow);
     height: 15vh;
     font-size: 2em;
     /* display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     padding: 1.5rem 2rem;
     grid-gap: 20px; */


}
.navbar img {
     size: 20px 20px;
}
/* .navbar .navbar-expand-lg .navbar-light .bg-light {
     font-color: white;
     text-shadow: var(--text-shadow);
     display: flex;
     flex-wrap: wrap;
     align-items: baseline;
} */
.two {
     display: flex;
     justify-content: space-evenly;
     
}
.two p {
     padding: 20px;
     font-weight: lighter;
     color: blue;
}
.two iframe {
     height: 400px;
}
/* .five {
     display: flex;
     justify-content: space-between;
} */

.carousel-inner img{
     width: 400px;
     height: 400px;
}

.icons {
     
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 20px;
     padding: 20px;    
}
     


@media screen and (min-width: 320px) and (max-width: 480px) {
     body{
          background:#F5F5F5;
     }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
     body{
          background:#FF6347;
     }
}

.m-4 {
     display: grid;
     grid-gap: 3px;
}

.four h1 {
     background-color: wheat;
     font-style:italic;
     font-weight:bold;
     color: rgb(43, 8, 241);
     
}
/* 
.col-auto .btn .btn-primary1 {
     gap: 20px
     ;
} */